body {
    font-family: 'Segoe UI', sans-serif;
     background-color: rgb(177, 48, 48);
     } 
    }
     header, footer {
     background-color: black;
     color: rgb(233, 52, 52);
     text-align: center;
     padding: 0.9rem;
     }
     nav {
         background-color: rgb(116, 18, 18);
         padding: 1rem;
         display: flex;
         justify-content: center;
        gap: 2rem;
    }
     nav a {
     text-decoration: none;
     color: black; 
     font-weight: bold;
 }
 main {
 padding: 2rem;
 display: flex;
 gap: 2rem;
 }
 strong {
 color: rgb(161, 18, 18);
 }
 blockquote{
 font-style: italic;
 color: rgba(255, 0, 0, 0.151);
 }
 article {
 background-color: white;
 padding: 1rem;
 border-radius: 10px;
 margin-bottom: 1rem;
 }
 aside {
 background-color: white;
 padding: 1rem;
 border-left: 4px solid rgba(255, 0, 0, 0.603);
 }
 th {
 background-color: rgb(88, 22, 22);
 }
 th, td {
 border: 1px solid black;
 padding: 0.5rem;
 }
 table {
 width: 100%;
 border-collapse: collapse;
 }
 img {
 max-width: 100%;
 margin-top: 1rem;
 border: 4px solid #b41c11ab;
 border-radius: 8px;
 }
 footer a {
 color: rgba(255, 0, 0, 0.384);
 text-decoration: none;
 } 